In [1]:
import pandas as pd
import numpy as np

In [2]:
f1=open("find_words.txt")
words=f1.read().split()
f1.close()

In [3]:
#words

In [4]:
dict_words = pd.read_csv('french_dictionary.csv', header=None, index_col=0, squeeze=True).to_dict()

In [5]:
f2=open("t8.shakespeare.txt")
file=f2.read()
f2.close()

In [6]:
#text_book

In [7]:
import time
import tracemalloc


tracemalloc.start()
start = time.time()
frequency_dict=dict()
for x in words:
    frequency_dict[x]=file.count(x)
    file=file.replace(x,dict_words[x])
    file=file.replace(x.upper(),dict_words[x])
    file=file.replace(x.title(),dict_words[x])              

                    
end = time.time() 
current,peak=tracemalloc.get_traced_memory()                 
memory=peak-current
memory=memory*0.000001
tracemalloc.stop()
              


                    # here words are replaced with handling casing

In [8]:
f=open("performance.txt","w")
s="memory used "+str(memory)+ "MB"
print(s)
f.write(s)
s= "\nThe time of execution of above program is :"+str(end-start)                                                     
f.write(s)
f.close()
        
print("The time of execution of above program is :", end-start)

memory used 16.32493MB
The time of execution of above program is : 30.820393800735474

In [9]:

#dict_words

In [10]:
french=[dict_words[x] for x in words]
frequency=frequency_dict.values()

data={"English":words,"French":french,"Frequency":frequency}
df=pd.DataFrame(data)
df

      English        French  Frequency
0       abide     respecter         42
1       about           sur        370
2       above     au dessus        124
3      abroad  à l'étranger         63
4     absence       absence         55
..        ...           ...        ...
995    yonder        là-bas         59
996     young         Jeune        462
997     yours      le tiens        516
998  yourself      toi même          0
999     youth      jeunesse        310

[1000 rows x 3 columns]

In [11]:
#frequency_dict

In [12]:
#file

In [14]:
f = open("output.txt","w",encoding='utf-8')
f.write(file)
f.close()

In [15]:
unique_list=[x for x in list(frequency_dict.keys()) if frequency_dict[x]>0]

In [16]:
#unique_list

In [17]:
df.to_csv("frequency.csv",index=False)